<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>514</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>513</string>
							<key>Timestamp</key>
							<string>764454531.815451</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameStartAnimation.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    
</string>
						<key>leading</key>
						<string>//        // hideOverlay()  // Ausblenden
//    }
</string>
						<key>trailing</key>
						<string>    // Animation vom Level zur Bonusrunde
    func animateTwinShipWithFullAnimation() {
        slowDownStars = true // Sterne langsam abbremsen
</string>
					</dict>
					<key>title</key>
					<string>animateTwinShip - Mit</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>439</string>
							<key>StartingColumnNumber</key>
							<string>2</string>
							<key>StartingLineNumber</key>
							<string>438</string>
							<key>Timestamp</key>
							<string>766956135.1680419</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameStartAnimation.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    
</string>
						<key>leading</key>
						<string>        return degrees * CGFloat.pi / 180
    }
//</string>
						<key>trailing</key>
						<string>//    // Kurzversion der Animation
//    func animateTwinShip() {
//        
</string>
					</dict>
					<key>title</key>
					<string>animateTwinShip - Ohne</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>8</string>
							<key>StartingColumnNumber</key>
							<string>11</string>
							<key>StartingLineNumber</key>
							<string>7</string>
							<key>Timestamp</key>
							<string>761769953.80239</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameStartAnimation.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>
</string>
						<key>leading</key>
						<string>
extension GameViewController {
           </string>
						<key>trailing</key>
						<string>    // Startet schrittweise die Eingangs-Animation
    func startGameIntro() {
        DispatchQueue.main.async { [self] in
</string>
					</dict>
					<key>title</key>
					<string>showStartAnimation</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>48</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>47</string>
							<key>Timestamp</key>
							<string>764454531.815426</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameStartAnimation.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    
</string>
						<key>leading</key>
						<string>        }
    }
</string>
						<key>trailing</key>
						<string>    // MARK: - Animate Probe
    func startAnimationProbe() {
        // Startposition der Probe und sichtbar machen
</string>
					</dict>
					<key>title</key>
					<string>Start Animation Probe</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>276</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>275</string>
							<key>Timestamp</key>
							<string>764454531.815389</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameStartAnimation.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>
</string>
						<key>leading</key>
						<string>        starYellowNode.runAction(moveActionYellowStar)
    }
</string>
						<key>trailing</key>
						<string>    // MARK: - Animate TwinShip
// Verfolger TwinShip starten und SpaceProbe hinterherfliegen
        
</string>
					</dict>
					<key>title</key>
					<string>Start Animation For Ship</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Animationen</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>215</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>214</string>
									<key>Timestamp</key>
									<string>786142166.404067</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/Objects Manager/SpaceObjectsFactory.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>    // MARK: - Asteroid
</string>
								<key>leading</key>
								<string>    }
    
</string>
								<key>trailing</key>
								<string>    func createAsteroids(count: Int, offsetNumber: Int) {
        
        let burstAsteroid = offsetNumber != 0   // Wenn true dann werden die Großen erzeugt
</string>
							</dict>
							<key>title</key>
							<string>createAsteroids()</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>1</string>
									<key>StartingColumnNumber</key>
									<string>2</string>
									<key>StartingLineNumber</key>
									<string>0</string>
									<key>Timestamp</key>
									<string>785578472.4915709</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/Objects Manager/Asteroid.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>
</string>
								<key>leading</key>
								<string>//</string>
								<key>trailing</key>
								<string>//  Asteroid.swift
//  Astroid Blaster3D
//
</string>
							</dict>
							<key>title</key>
							<string>Asteroid</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>376</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>375</string>
									<key>Timestamp</key>
									<string>786386136.7114151</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/GameManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>        
</string>
								<key>leading</key>
								<string>        }
    }
</string>
								<key>trailing</key>
								<string>    // FIXME: Größe für die unterschiedlichen Level ???
    /// Über "func startTimerAsteroid()" wiederkehrend gestartet
    @objc func setAsteroidToStart()  {
</string>
							</dict>
							<key>title</key>
							<string>Set Asteroid Position to Start</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>237</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>236</string>
									<key>Timestamp</key>
									<string>786386136.711437</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/GameManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>// MARK: Clean Scene
</string>
								<key>leading</key>
								<string>    //--------------------------------------------------------------------------------------
    
</string>
								<key>trailing</key>
								<string>    // Asteroids die den Schirm verlassen, wieder rechts einlafen lassen
    func cleanAsteroids() {
        
</string>
							</dict>
							<key>title</key>
							<string>Clean Asteroids()</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>Asteroid</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>title</key>
					<string>TwinShip</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>322</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>321</string>
									<key>Timestamp</key>
									<string>786386136.711398</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/GameManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>    
</string>
								<key>leading</key>
								<string>        }
    }
</string>
								<key>trailing</key>
								<string>    /// Löscht Feuerbälle aus fireNodeRight/fireNodeLeft, die die Bildgrenze (2D) oder Distanz (3D) überschreiten
    func cleanFire() {
        if bonusState != .active {
</string>
							</dict>
							<key>title</key>
							<string>Clean Fire</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>316</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>315</string>
									<key>Timestamp</key>
									<string>786215796.805694</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/InputManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>    func animateFire() {
</string>
								<key>leading</key>
								<string>    }
    
</string>
								<key>trailing</key>
								<string>        if bonusState == .enabled {
            
            // Erzeuge zwei Feuerkugeln – rechts und links am Schiff
</string>
							</dict>
							<key>title</key>
							<string>Animate Fire</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>118</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>117</string>
									<key>Timestamp</key>
									<string>785616974.6511739</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/Objects Manager/SpaceObjectsFactory.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>    
</string>
								<key>leading</key>
								<string>    }
  
</string>
								<key>trailing</key>
								<string>    // MARK: - Fire
    func createFireLeft(position: SCNVector3) {
        
</string>
							</dict>
							<key>title</key>
							<string>Create Fire</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>Fire</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>15</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>15</string>
									<key>Timestamp</key>
									<string>767085216.951908</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/GameSetup.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string></string>
								<key>leading</key>
								<string>
extension GameViewController {
</string>
								<key>trailing</key>
								<string>
}
</string>
							</dict>
							<key>title</key>
							<string>Setup Hintergrundsterne</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>538</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>537</string>
									<key>Timestamp</key>
									<string>786386136.71144</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/GameManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>    func moveBackgroundStars() {
</string>
								<key>leading</key>
								<string>    
    // Sterne bewegen
</string>
								<key>trailing</key>
								<string>        guard startBackgroundStars else { return }
        
        var starSpeedFactor: Float
</string>
							</dict>
							<key>title</key>
							<string>Move BackgroundStars</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>Background Stars</string>
					<key>type</key>
					<string>group</string>
				</dict>
			</array>
			<key>title</key>
			<string>Objekte</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>0</string>
							<key>Timestamp</key>
							<string>785529929.938646</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameViewController.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    //
</string>
						<key>leading</key>
						<string></string>
						<key>trailing</key>
						<string>    //  GameViewController.swift
    //
    //  Created by Günter Voit on 14.08.24.
</string>
					</dict>
					<key>title</key>
					<string>Variablen Deklaration</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>473</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>472</string>
							<key>Timestamp</key>
							<string>786559440.254723</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameViewController.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    //MARK: ViewDidLoad
</string>
						<key>leading</key>
						<string>    

</string>
						<key>trailing</key>
						<string>    override func viewDidLoad() {
        super.viewDidLoad()

</string>
					</dict>
					<key>title</key>
					<string>viewDidLoad()</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>498</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>497</string>
							<key>Timestamp</key>
							<string>786386136.711429</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameManager.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    
</string>
						<key>leading</key>
						<string>    //--------------------------------------------------------------------------------------

</string>
						<key>trailing</key>
						<string>    func rotateObjectRandomly(_ node: SCNNode, withFadeIn: Bool = false, fadeInDuration: TimeInterval = 1.0) {
        // Zufällige Rotationswerte – nur um Y-Achse
        let randomY = Float.random(in: -Float.pi...Float.pi)
</string>
					</dict>
					<key>title</key>
					<string>Rotate Object Randomly</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>466</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>465</string>
							<key>Timestamp</key>
							<string>786386136.711444</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameManager.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>
</string>
						<key>leading</key>
						<string>    }
    //--------------------------------------------------------------------------------------
</string>
						<key>trailing</key>
						<string>    // Zufällige Bewegung von übergebenen Node
    func moveObjectRandomly(_ node: SCNNode,
                            _ xRange: ClosedRange&lt;Float&gt;,
</string>
					</dict>
					<key>title</key>
					<string>Move Object Randomly</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>81</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>80</string>
							<key>Timestamp</key>
							<string>785578361.9024791</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameManager.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>
</string>
						<key>leading</key>
						<string>        }
    }
</string>
						<key>trailing</key>
						<string>    // Diverse Werte die beim erreichen des NextLevel erhöht werden werden
    func nextLevelUpdate() {
        
</string>
					</dict>
					<key>title</key>
					<string>nextLevelUpdate()</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>System</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>15</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>14</string>
							<key>Timestamp</key>
							<string>785437847.803578</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/EnemyManager.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    func scheduleNextEnemy() {
</string>
						<key>leading</key>
						<string>extension GameViewController {
    
</string>
						<key>trailing</key>
						<string>
        var spawnDelay: Double = 0
        // watchdog.functionWasCalled()
</string>
					</dict>
					<key>title</key>
					<string>Schedule Next Enemy</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>1</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>0</string>
									<key>Timestamp</key>
									<string>785578414.9409879</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/InputManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>//
</string>
								<key>leading</key>
								<string></string>
								<key>trailing</key>
								<string>//  InputManager.swift
//  Astroid Blaster3D
//
</string>
							</dict>
							<key>title</key>
							<string>InputManager.swift</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>1</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>0</string>
									<key>Timestamp</key>
									<string>785523687.316568</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/Objects Manager/BallWallManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>//
</string>
								<key>leading</key>
								<string></string>
								<key>trailing</key>
								<string>//  BallWallManager.swift
//  Astroid Blaster3D
//
</string>
							</dict>
							<key>title</key>
							<string>BallWallManager.swift</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>1</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>0</string>
									<key>Timestamp</key>
									<string>785437784.79568</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/Objects Manager/BigFlashManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>//
</string>
								<key>leading</key>
								<string></string>
								<key>trailing</key>
								<string>//  BigFlashManager.swift
//  Astroid Blaster3D
//
</string>
							</dict>
							<key>title</key>
							<string>BigFlashManager.swift</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>1</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>0</string>
									<key>Timestamp</key>
									<string>785532066.3526959</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/Objects Manager/InvaderManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>//
</string>
								<key>leading</key>
								<string></string>
								<key>trailing</key>
								<string>//  AnimateInvader.swift
//  Astroid Blaster3D
//
</string>
							</dict>
							<key>title</key>
							<string>InvaderManager.swift</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>1</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>0</string>
									<key>Timestamp</key>
									<string>785578498.079519</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/Objects Manager/ProbeManager.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>//
</string>
								<key>leading</key>
								<string></string>
								<key>trailing</key>
								<string>//  ProbeManager.swift
//  Astroid Blaster3D
//
</string>
							</dict>
							<key>title</key>
							<string>ProbeManager.swift</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>location-parameters</key>
								<dict>
									<key>EndingColumnNumber</key>
									<string>0</string>
									<key>EndingLineNumber</key>
									<string>1</string>
									<key>StartingColumnNumber</key>
									<string>0</string>
									<key>StartingLineNumber</key>
									<string>0</string>
									<key>Timestamp</key>
									<string>785578505.28282</string>
								</dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Astroid Blaster3D/Objects Manager/SpaceObjectsFactory.swift</string>
									</dict>
								</dict>
							</dict>
							<key>text-context</key>
							<dict>
								<key>focused</key>
								<string>//
</string>
								<key>leading</key>
								<string></string>
								<key>trailing</key>
								<string>//  Untitled.swift
//  Astroid Blaster3D
//
</string>
							</dict>
							<key>title</key>
							<string>SpaceObjectsFactory.swift</string>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>Objekte</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>0</string>
							<key>Timestamp</key>
							<string>785578376.275628</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameManager.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>//
</string>
						<key>leading</key>
						<string></string>
						<key>trailing</key>
						<string>//  extension GameViewController.swift
//  Astroid Blaster3D
//
</string>
					</dict>
					<key>title</key>
					<string>GameManager.swift</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>0</string>
							<key>Timestamp</key>
							<string>785529934.154972</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/GameSettings.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>//
</string>
						<key>leading</key>
						<string></string>
						<key>trailing</key>
						<string>//  GameSettings.swift
//  Astroid Blaster3D
//
</string>
					</dict>
					<key>title</key>
					<string>GameSettings.swift</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>0</string>
							<key>Timestamp</key>
							<string>785578432.77306</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/Renderer.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>//
</string>
						<key>leading</key>
						<string></string>
						<key>trailing</key>
						<string>//  GameViewController+Renderer.swift
//  Astroid Blaster3D
//
</string>
					</dict>
					<key>title</key>
					<string>Render.swift</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>0</string>
							<key>Timestamp</key>
							<string>785434164.508057</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/EnemyManager.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>//
</string>
						<key>leading</key>
						<string></string>
						<key>trailing</key>
						<string>//  SpaceInvaderController.swift
//  Astroid Blaster3D
//
</string>
					</dict>
					<key>title</key>
					<string>EnemyManager.swift</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>0</string>
							<key>Timestamp</key>
							<string>785578403.989125</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/Helpers.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>//
</string>
						<key>leading</key>
						<string></string>
						<key>trailing</key>
						<string>//  Helper.swift
//  Astroid Blaster3D
//
</string>
					</dict>
					<key>title</key>
					<string>Helpers.swift</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>13</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>12</string>
							<key>Timestamp</key>
							<string>785091417.863183</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/ButtonBuilder.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    class ButtonBuilder {
</string>
						<key>leading</key>
						<string>
    // MARK: - ButtonBuilder mit inout
</string>
						<key>trailing</key>
						<string>        
        /// Blendet eine View mit sanfter Animation ein.
        static func fadeIn(_ view: UIView, delay: TimeInterval) {
</string>
					</dict>
					<key>title</key>
					<string>ButtonBuilder.swift</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>0</string>
							<key>Timestamp</key>
							<string>785578436.79188</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/SoundManager.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>//
</string>
						<key>leading</key>
						<string></string>
						<key>trailing</key>
						<string>//  SoundManager.swift
//  Astroid Blaster3D
//
</string>
					</dict>
					<key>title</key>
					<string>SoundManager.swift</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>0</string>
							<key>Timestamp</key>
							<string>785578428.309248</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/PhysicsController.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>//
</string>
						<key>leading</key>
						<string></string>
						<key>trailing</key>
						<string>//  GameViewController+Physics.swift
//  Astroid Blaster3D
//
</string>
					</dict>
					<key>title</key>
					<string>PhysicsController.swift</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1</string>
							<key>StartingColumnNumber</key>
							<string>2</string>
							<key>StartingLineNumber</key>
							<string>0</string>
							<key>Timestamp</key>
							<string>785578449.0230711</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Astroid Blaster3D/UIComponents.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>
</string>
						<key>leading</key>
						<string>//</string>
						<key>trailing</key>
						<string>//  UIComponents.swift
//  Astroid Blaster3D
//
</string>
					</dict>
					<key>title</key>
					<string>UIComponents</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Swift Dateien</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>0</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>0</string>
					<key>Timestamp</key>
					<string>785945539.398513</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Astroid Blaster3D/LevelManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string></string>
				<key>trailing</key>
				<string>

import Foundation
</string>
			</dict>
			<key>title</key>
			<string>LevelManager.swift</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>593</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>592</string>
					<key>Timestamp</key>
					<string>786386136.7114331</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Astroid Blaster3D/GameManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>     }
</string>
				<key>leading</key>
				<string>         shieldNode.isHidden = false
         shieldNode.opacity = 1.0
</string>
				<key>trailing</key>
				<string>}
</string>
			</dict>
			<key>title</key>
			<string>logEvent()</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>366</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>365</string>
					<key>Timestamp</key>
					<string>786559440.254738</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Astroid Blaster3D/GameViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var asteroidStartBorderZ: Float = 0 // Für das Rechteck in Y und Z
</string>
				<key>leading</key>
				<string>    var asteroidStartPositionX: Float = 300 // Startposition rechts aussen
    var asteroidStartBorderY: Float = 80 // In Bonus Runde sind es 500
</string>
				<key>trailing</key>
				<string>    var isContactAsteroidCooldownActive: Bool = false
    var AsteroidStartValueOfBurstOne: Int = 0 //*02 Zwischenspeicher für Offset der Burstasteroiden
    var asteroidCountMax: Int = 0       // Noch verbleibende Asteroiden für das Level
</string>
			</dict>
			<key>title</key>
			<string>Z für Bonusrunde ???</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>82</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>81</string>
					<key>Timestamp</key>
					<string>786476715.937263</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Astroid Blaster3D/GameSettings.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>    }
}
</string>
				<key>trailing</key>
				<string>struct ViewMode: OptionSet {
    let rawValue: Int

</string>
			</dict>
			<key>title</key>
			<string>VieMode: OptionSet</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
